/**
    Main
 */
* {
    scrollbar-color: #2a2c2e #1c1e1f;
}

body {
    background-color: #181a1b;
}

.main {
    color: #d0cdc6
}

a {
    color: #1a439b;
}

button {
    text-decoration-color: initial;
    background-color: #3d4043;
    border-top-color: #595959;
    border-right-color: #595959;
    border-bottom-color: #595959;
    border-left-color: #595959;
    color: #fff;
}

input {
    border-color: #575757;
    color: #e8e6e3;
}

::selection {
    background-color: #005ccc;
    color: #ffffff;
}

/**
    Scrollbar
 */
::-webkit-scrollbar {
    background-color: #1c1e1f;
    color: #c5c1b9;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
    background-color: #2a2c2e;
}

/**
    Markdown editor
 */
.editor-toolbar {
    opacity: 1;
    border: none;
}

.editor-toolbar a {
    color: #e8e6e3 !important;
}

.editor-toolbar a.active, .editor-toolbar a:hover {
    opacity: 1;
    border-color: inherit;
    background: #181a1b !important;
    color: #e8e6e3 !important;
}

.editor-toolbar:hover, .editor-wrapper input.title:focus, .editor-wrapper input.title:hover {
    opacity: 1
}

.editor-statusbar, .editor-toolbar {
    color: #e8e6e3 !important;
    background: #181a1b !important;
}

.editor-toolbar::after, .editor-toolbar::before {
    opacity: 0;
}

.CodeMirror, .editor-preview-side {
    background: inherit;
    border: none;
    color: #e8e6e3;
}

.editor-preview-side {
    border-left: 1px solid #e8e6e3;
}

.CodeMirror-cursor {
    border-left: 1px solid #e8e6e3;
}

/**
    Other stuff
 */
table tr:hover {
    background-color: #121516 !important;
}

table thead tr:hover {
    background-color: #181a1b !important;
}
