table {
    width: 100%;
}

table, td, th {
    vertical-align: middle;
    border-spacing: 0;
    white-space: nowrap;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid gray;
    text-align: center;
}

table tr {
    cursor: pointer;
}

table tr:hover {
    background-color: #e8e8e8;
}

table thead tr:hover {
    background-color: #ffffff;
}

.drop {
    padding: 8px;
    min-height: calc(100vh - 16px);
    z-index: -1;
}
