* {
    transition: all .2s linear;
}

.navigation {
    position: relative;
    padding: 0;
}

.navigation a {
    text-decoration: none;
    color: inherit;
}

.progress {
    display: none;
    color: green;
    float: right;
}

table {
    table-layout: fixed;
    width: 100%;
}

table, td, th {
    vertical-align: middle;
    border-spacing: 0;
    white-space: nowrap;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid gray;
    text-align: center;
}

table tr {
    cursor: pointer;
}

table tr:hover {
    background-color: #e8e8e8;
}

table thead tr:hover {
    background-color: #ffffff;
}

tr td, tr th {
    overflow: hidden;
    text-overflow: ellipsis;
}

colgroup col:nth-child(1) {
    width: 5%;
}

colgroup col:nth-child(2) {
    width: 25%;
}

colgroup col:nth-child(3) {
    width: 15%;
}

colgroup col:nth-child(4) {
    width: 25%;
}

colgroup col:nth-child(5) {
    width: 10%;
}

colgroup col:nth-child(6) {
    width: 10%;
}

colgroup col:nth-child(7) {
    width: 10%;
}

.drop {
    padding: 8px;
    min-height: calc(100vh - 16px);
    z-index: -1;
}

.drop.hover {
    background: rgba(12, 99, 250, 0.3) !important;
}

.share {
    font-size: 20px;
    background-color: inherit;
    border: 0;
    z-index: 100;
    cursor: pointer;
}

.share:hover {
    transform: scale(1.3);
    color: dodgerblue;
}

.download, .downloadButton {
    font-size: 20px;
    color: inherit;
    background-color: inherit;
    border: 0;
    z-index: 100;
    cursor: pointer;
}

.downloadButton:hover {
    transform: scale(1.3);
    color: green;
}

.delete {
    font-size: 20px;
    background-color: inherit;
    border: 0;
    z-index: 100;
    cursor: pointer;
}

.delete:hover {
    transform: scale(1.3);
    color: red;
}
