html, body {
    overflow: visible;
}

.modify, .switch, .settings {
    display: none;
}

.prettyprint, .preview {
    position: absolute;
    border: none !important;
    overflow: visible;
}

.icon, .italic, .bold, .header {
    font-size: 20px;
}

.italic:after {
    content: "I"
}

.bold:after {
    content: "B"
}

.header:after {
    content: "H"
}
