.preview, .switch, .settings {
    display: none;
}

/* TODO: Fix duplicate scrollbars in previews */
.prettyprint, .preview {
    position: absolute;
    min-height: 100%;
    width: 100%;
    border: none !important;
    overflow: visible;
}
