<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<form class="login-form" id="login-form">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" placeholder="Username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Password">
    </div>
    <input type="submit" value="Login">
</form>
<script src="/js/login.js"></script>
</body>
</html>
