@args (String content, String filename, String extension)

@css => {
<link href="/css/fileview.css" rel="stylesheet">
}

@js => {
<script>const extension = "@extension";</script>
<script src="/js/prettify.js"></script>
<script src="/js/marked.js"></script>
<script src="/js/fileview.js"></script>
}

@layout.template("File " + filename, css, js) -> {
<button class="switch" id="raw">Show raw</button>
<span class="settings" id="settings">
    <!-- TODO: HTML gets executed on linecount option click - why? -->
    <label for="code">Linecount</label><input id="code" type="checkbox">
    <label for="dark">Dark mode</label><input id="dark" type="checkbox">
</span>
<pre class="prettyprint" id="content"><code class="lang-@extension">@content</code></pre>
<div class="preview" id="preview"></div>
}
