@import java.util.ArrayList
@args (ArrayList files, String path)

@css => {
<link href="/css/files.css" rel="stylesheet">
}

@js => {
<script>const path = "@path";</script>
<script src="/js/files.js"></script>
}

@layout.template(files.size() + " Files", css, js) -> {
<div class="drop" id="drop">
    <h2>/@path</h2>
    <table id="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Last modified</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><a class="filename" href="../">../</a></td>
            <td><a class="filename" href="../"></a></td>
            <td><a class="filename" href="../"></a></td>
        </tr>
        @for (String[] fileArray : files) {
        <tr>
            <td><a class="filename" href="@fileArray[0]">@fileArray[0]</a></td>
            <td><a class="filename" href="@fileArray[0]">@fileArray[1]</a></td>
            <td><a class="filename" href="@fileArray[0]">@fileArray[2]</a></td>
        </tr>
        }
        </tbody>
    </table>
</div>
}
