@import space.anity.DatabaseController
@args (String username)

@layout.template("Index", RockerContent.NONE, RockerContent.NONE) -> {
<div class="flex">
    <h1>Welcome to Kloud<span class="username">@(username == "" ? "" : " " + username)</span>!</h1>

    <div>
        @if(username.length() > 0) {
        <!-- TODO: Fix logout button? -->
        <a class="button" href="/user/logout">Logout</a>
        } else if (!(new DatabaseController()).isSetup()) {
        <a class="button" href="/setup">Setup</a>
        } else {
        <a class="button" href="/user/login">Login</a>
        }

        <a class="button" href="/files/">Files</a>
    </div>
</div>
}
