@import space.anity.DatabaseController
@import space.anity.UserHandler
@import io.javalin.*
@args (String username, Context ctx)

@css => {
<link href="/css/index.css" rel="stylesheet">
}

@js => {
<script src="/js/index.js"></script>
}

@layout.template("Index", ctx, css, js) -> {
<div class="navigation">
    <h3>
        <a href="/"><i class="icon ion-md-home"></i></a>
    </h3>
</div>
<div class="flex">
    @if (username.length() > 0) {
    <button class="toggle" id="toggle">
        @if((new DatabaseController()).isDarkTheme((new UserHandler()).getVerifiedUserId(ctx))) {
        Light theme
        } else {
        Dark theme
        }
    </button>
    }

    <h1>Welcome to Kloud<span class="username">@(username == "" ? "" : ", " + username)</span>!</h1>

    <div>
        @if(username.length() > 0) {
        <a class="button" href="/user/logout">Logout</a>
        @if((new UserHandler()).isAdmin(username)) {
        <a class="button" href="/admin">Admin</a>
        }
        } else if (!(new DatabaseController()).isSetup()) {
        <a class="button" href="/setup">Setup</a>
        } else {
        <a class="button" href="/user/login">Login</a>
        }

        <a class="button" href="/files/">Files</a>
    </div>
</div>
}
