@args (String message, Integer counter)

@js => {
<script>const counter = @counter;</script>
<script src="/js/login.js"></script>
}

@layout.template("Login", RockerContent.NONE, js) -> {
<form action="login" id="login-form" method="post">
    <div>
        <label for="username">Username:</label>
        <input id="username" name="username" type="text"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" name="password" type="password"/>
    </div>

    <button type="submit">Login</button>

    @if(message.length() > 0) {
    <small>@message</small>
    <small id="tryAgain">Please try again in <span id="counter">@counter</span> seconds.</small>
    }
</form>
}
