@args (String username, String message)

@layout.template("Register", RockerContent.NONE, RockerContent.NONE) -> {
<div class="flex">
    <h1>Register</h1>

    <form action="/user/register" method="post">
        <h3>Please set a password for user "@username"</h3>
        <div>
            <input hidden name="username" type="text" value="@username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input id="password" name="password" required type="password"/>
        </div>
        <div>
            <label for="verifyPassword">Verify password:</label>
            <input id="verifyPassword" name="verifyPassword" required type="password"/>
        </div>

        <div>
            @if (message.length() > 0) {
            <small>@message</small>
            }
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</div>
}
