@import io.javalin.*
@args (String message, Context ctx)

@layout.template("Setup", ctx, RockerContent.NONE, RockerContent.NONE) -> {
<div class="navigation">
    <h3>
        <a href="/"><i class="icon ion-md-home"></i></a>
        <a href="">Setup</a>
    </h3>
</div>
<div class="flex">
    <h1>Setup</h1>

    <form action="/setup" method="post">
        <div>
            <label for="username">Username:</label>
            <input autocomplete="off" autofocus id="username" name="username" required type="text"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input id="password" name="password" required type="password"/>
        </div>
        <div>
            <label for="verifyPassword">Verify password:</label>
            <input id="verifyPassword" name="verifyPassword" required type="password"/>
        </div>

        <div>
            @if (message.length() > 0) {
            <small>@message</small>
            }
        </div>

        <div>
            <button type="submit">Setup</button>
        </div>
    </form>
</div>
}
